$primary-color: #1890ff;

.nav-bar {
  display: flex;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(27, 27, 27, 0.1);
  align-items: stretch;
  height: 54px;

  & .nav-item-group {
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
  }

  & .nav-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 10px;
    cursor: pointer;
    white-space: nowrap;

    &:hover:before {
      position: absolute;
      content: "";
      bottom: 0px;
      width: 100%;
      height: 1px;
      margin-left: -10px;
      background-color: $primary-color;
    }
  }

  & .nav-search-item {
    &:hover:before {
      background-color: transparent;
    }
  }

  & .nav-item-right {
    margin-left: auto;
  }
}

.branchName {
  display: flex;
  font-size: 1.5em;
  width: 100%;
  justify-content: center;
  &__right {
    margin-left: 20px;
    display: flex;
    font-size: 1.5em;
    width: 100%;
    justify-content: flex-start;
  }
  span {
    white-space: nowrap;
  }
}

.menu-toggle {
  display: none !important;
}
