$primary-color: #1890ff;

.nav-bar {
    display: flex;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(27,27,27,.1);
    align-items: stretch;
    height: 54px;

    & .nav-item-group {
        display: flex;
    }

    & .nav-item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0px 10px;
        cursor: pointer;
        white-space: nowrap;

        &:hover:before {
            position: absolute;
            content: "";
            bottom: 0px;
            width: 100%;
            height: 1px;
            margin-left: -10px;
            background-color: $primary-color;
        }
    }

    & .nav-search-item {
        &:hover:before {
            background-color: transparent;
        }
    }
    
    & .nav-item-right {
        margin-left: auto;
    }

}

.branchName {
    display: flex;
    font-size: 1.5em;
    span {
        white-space: nowrap;
    }
}

.menu-toggle {
    display: none !important;           
}

@media only screen and (max-width: 768px) {
    .nav-open {
        & .nav-item {
            display: flex !important;
        }
    }

    .nav-bar {
        flex-direction: column;

        & .nav-item {
            display: none;
            padding: 10px;
        }

        & .nav-item-right {
            margin-left: unset;
        }
    }

    .nav-item-group {
        flex-direction: column;
    }

    .branchName {
        flex-direction: column;
        justify-content: center;

        .menu-toggle {
            align-self: flex-end;
            position: absolute;
            padding: 12px;
            display: initial !important;
            cursor: pointer;
        }
    }
}
