$base-width-size: 20;
$base-height-size: 25;
$base-font-size: (
  xs: 1,
  sm: 1.1,
  md: 1.1,
  lg: 1.3,
  xl: 1.4,
  xxl: 1.5
);
$break-size: xs sm md lg xl xxl;

@mixin button() {
  $i: 1;
  @each $size in $break-size {
    .btn-#{$size} {
      min-width: calc(#{$base-width-size * $i}px + 40px) !important;
      font-size: #{map-get($base-font-size, $size)}em;
      height: calc(#{$base-height-size * map-get($base-font-size, $size)}px + 5px);
    }
    $i: $i + 1;
  }
}

@include button();
