$base-size: 5;
$break-size: none xs sm md lg xl xxl;


@mixin spacing($key, $type) {
    $i: 0;
    @each $size in $break-size {
        .#{$key}-#{$size} {
            #{$type}: #{$base-size * $i}px !important
        }
        $i: $i + 1;
    }

    @each $d, $direction in (t: top, b: bottom, l: left, r: right) {
        $i: 0;
        @each $size in $break-size {
            .#{$key}-#{$d}-#{$size} {
                #{$type}-#{$direction}: #{$base-size * $i}px !important
            }
            $i: $i + 1;
        }
    }

    @each $size in $break-size {
        $i: 1;
        .#{$key}-v-#{$size} {
            #{$type}: 0px #{$base-size * $i}px !important
        }
        $i: $i + 1;
    }

    @each $size in $break-size {
        $i: 1;
        .#{$key}-h-#{$size} {
            #{$type}: #{$base-size * $i}px 0px !important
        }
        $i: $i + 1;
    }
}


@include spacing(p, padding);
@include spacing(m, margin);
