.comment-per-user {
  margin-bottom: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 2px solid black;
  width: 720px;
  &__finish {
    width: 520px;
  }
}

.list-invitation {
  margin: 5px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 2px solid black;
  div{
    margin: 0 5px;
  }
}

.comment-per-user-Avatar {
  margin: 5px;
}

.comment-per-user-Info {
  margin: 5px;
  width: 100%;
  padding-left: 10px;
}

.location-label {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1114d8;
}

.ant-tabs-bar{
    margin: 0;
}

.comment-per-user-Score {
  margin: 5px;
  min-width: 100px;
  align-items: center;
  text-align: center;
  background-color: #fde3cf;
  border-radius: 25px;
}

.comment-per-user-btn {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cmt-btn {
  background: #76b3fa;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px;
  &__del {
    background: #ff0000;
  }
  &__sav {
    background: #37a504;
  }
}

.comment-per-user-label {
  width: 100px;
}


.title-label {
  font-size: 1rem;
  &__text-xl {
    font-size: 1.25rem;
  }
  font-weight: 700;
  color: #1114d8;
  text-align: center;
}