.container-home {
  display: flex;
  flex: 1;
  justify-content: center;
}

.location-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  padding: 16px;
  width: 100%;
}

.location-photo {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
}

.location-card {
  min-width: 250px;
  max-width: 250px;
  min-height: 350px;
  max-height: 350px;
}

.seletor {
  width: 180px;
}

.middle_selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.lb-recommend {
  color: rgb(13, 13, 13);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.notif-btn {
  margin: 5px;
}
