.user_container {
    display: flex;
    justify-content: center;
}

.dashboard {
    display: flex;
    margin: 5px;
    width: 100%;
}
.menu-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
    border-right: 2px solid #000;
    overflow-y: auto;
    margin-right: 5px;
    width: 250px;
}

.menu-tab{
    display: flex;
    margin: 5px;
    font-size: 18px;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    height: auto;
}

.content-right {
    background-color: #f0f5f5;
    flex-shrink: 0;
    flex-grow: 5;
    overflow-y: auto;
    min-width: 50vw;
}

.ant-tabs-tabpane {
    background-color: #f0f5f5;
}

.text-nodata{
    font-size: 18px;
    margin: 0 auto;
    padding-top: 10px;
}