@import '~antd/dist/antd.less';
@import 'theme/pcp_dashboard.less';
@import 'override/index.less';

body {
  font-size: 13px;
  background-color: #f0f2f5;
  padding-right: 0px !important;
}

// Make scrollbar alway show
html {
  overflow-y: scroll;
}