.ant-menu-horizontal {
    border-bottom: 0px;
}

.anticon {
    vertical-align: text-top;
}

.pg-footer {
    .ant-pagination-options {
        float: right;
    }
}

.save-filter {
    & .ant-popover-title {
        @apply bg-primary rounded-t;

    }
    & > .ant-popover-content {
        & > .ant-popover-arrow {
            @apply border-4 border-white !important;
        }
    }
}