.location-container {
  display: flex;
  justify-content: center;
}

.location-info {
  margin: 5px;
  padding: 10px;
  background-color: antiquewhite;
  display: flex;
  width: 1000px;
  border-radius: 10px;
}

.location-info-image {
  width: 400px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.location-info-content {
  width: 100%;
  margin-left: 10px;
}

.location-info-content-title {
}

.mapouter {
  position: relative;
  text-align: right;
  margin-top: 10px;
  height: 300px;
  width: 300px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 300px;
}
