/* Todos: This is a hack */
@import "@foundation/styles/index.scss";

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.pagination-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
