.menu {
    z-index: 50;
    @apply flex bg-red-300;


    & .menu-item {
        @apply flex flex-col m-md;
        // position: relative;

        // justify-content: center;

        & .sub-menu {
            display: none;
            @apply flex flex-col bg-gray-400;
            // margin-top: 54px;
            // position: absolute;
            a {
                white-space: nowrap;
            }
        }
        &:hover {
            @apply bg-gray-500;

            & .sub-menu {
                @apply flex flex-col;
            }
        }
    }

}