.user-infor {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    margin: 10px;
    box-shadow: -9px 7px 50px -4px rgba(0,0,0,0.75);
}

.user-avatar {
    margin: 10px;
}