.main-layout {
    display: flex;
    flex: 1;
    flex-direction: row;
    // align-items: flex-start;

    & > * {
        padding: 4px;
        padding-top: 8px;
        background-color: '#e2e8f0';
    }
}