.header {
    @apply flex justify-between items-center bg-primary p-sm;

    .title {
        @apply text-xl ; //text-on-primary
    }

    .search {
        @apply text-gray-800 outline-none w-48 bg-gray-300 rounded-full py-sm pl-lg ;
        //w-90
        &:focus {
            @apply bg-white;
        }
    }
}

.row-content {
    td {
        &>div {
            @apply flex flex-col items-center p-10;
        }
    }
}
.row-header {
    td {
        &>div{
            @apply px-md py-sm bg-second font-bold;
        }
    }
}

.header-cell {
    @apply p-xs bg-second font-bold;
}
